<p>posts-list works!</p>
<table>
    <tr>
        <th>Title</th>
        <th>Username</th>
        <th></th>
    </tr>
    <ng-container *ngIf="posts">
        <tr *ngFor="let post of posts">
            <td>{{post.title}}</td>
            <td>{{post.userId}}</td>
            <td><input type="submit" value="Delete" (click)="submitDelete(post.id)"></td>
            <!-- (submit) y (click) hacen lo mismo, crear un evento de click pero submit se usa
            cuando el evento está dentro de un formulario. click se puede usar sin formulario y sin preventdefault() -->
        </tr>
    </ng-container>
</table>